# An analysis of the State of the Union speeches - Part 3
# Word analysis

In [5]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from collections import Counter
import shelve

plt.style.use('seaborn-dark')
plt.rcParams['figure.figsize'] = (10, 6)

Load data we need from previous runs

In [6]:
addresses = pd.read_hdf('results/df2.h5', 'addresses')
addresses.head()

,president,title,date,n_sent,n_words_all,n_words,n_uwords,n_swords,n_chars
0,George Washington,State of the Union Address,1790-01-08,24.0,1178.0,538.0,398.0,356.0,6753.0
1,George Washington,State of the Union Address,1790-12-08,40.0,1515.0,683.0,516.0,463.0,8455.0
2,George Washington,State of the Union Address,1791-10-25,60.0,2487.0,1136.0,740.0,626.0,14203.0
3,George Washington,State of the Union Address,1792-11-06,61.0,2298.0,1042.0,693.0,580.0,12764.0
4,George Washington,State of the Union Address,1793-12-03,56.0,2132.0,972.0,720.0,652.0,11696.0

In [7]:
with shelve.open('results/vars2') as db:
    speech_words = db['speech_words']
    speeches_cleaned = db['speeches_cleaned']

Let's make a single set of all unique words across all speeches

In [8]:
single_list_words=[]
for i in speeches_cleaned:
    single_list_words.extend(i)
unique_words=set(single_list_words)
n_words=len(unique_words)
n_words 
# number of unique words across all speeches

19219

Now we create a word matrix, whose columns are word vectors for each speech. A word vector contains the word counts for each word across the entire document set.

In [11]:
def word_vector(doc, vocab):
    """Return a word vector for the input document in the context of a given vocabulary.
    
    Parameters
    ----------
    
    doc: iterable of words
       
    vocab : iterable of words
    integer, size of the entire vocabulary across documents.
    
    Return
    ------
    array
        An integer array, of length equal to `len(vocab)`, containing the count for each
        word in `doc` at its corresponding position in `vocab`.
        
    Example
    -------
    
    >>> doc = "b c b c e".split()
    ... vocab = "a b c d e f".split()
    ... word_vector(doc, vocab)
    ... 
    array([0, 2, 2, 0, 1, 0])
    """
    counts=[]
    count=0
    for i in np.arange(len(vocab)):
        for letter in doc:
            if vocab[i]==letter:
                count+=1
        counts.append(count)
        count=0
    return counts

Let's write a simple unit test for this:

In [12]:
def test_word_vector():
    doc = "b c b c e".split()
    vocab = "a b c d e f".split()
    wv = word_vector(doc, vocab)
    np.testing.assert_equal(wv, np.array([0, 2, 2, 0, 1, 0]) )

test_word_vector()

Now let's make the word matrix for our entire set of documents

In [8]:
# YOUR CODE HERE

wmat[500:510]

,0,1,2,3,4,5,6,7,8,9,...,217,218,219,220,221,222,223,224,225,226
"110,304",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"110,345,174",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"110,400.77",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
110th,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
111,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"111,000,000",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"111,566,700",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"111,631,193",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"111,682,818",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"112,000,000",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

How sparse is this matrix?

In [12]:
# YOUR CODE HERE
print(f"wmat is comprised of {100*sparsity:.2f}% zeros.")

wmat is comprised of 93.19% zeros.

## Intermediate results storage

We'll need a few results for the next step, so let's store them in a new set of HDF5/shelve stores for this notebook:

In [13]:
wmat.to_hdf('results/df3.h5', 'wmat')
with shelve.open('results/vars3') as db:
    db['unique_words'] = unique_words